# Visual Studio / .NET
.vs/
**/bin/
**/obj/
**/Debug/
**/Release/
**/x64/
**/x86/
*.user
*.suo
*.userprefs

# VS Code
.vscode/*
!.vscode/settings.json

# Publicaciones / Salidas
**/publish/
**/out/

# Logs
*.log

# Secretos locales
appsettings.*.local.json
secrets.json
